@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.icon {
  font-size: 42px;
  color: #A3CEF1;
  margin: 0;
  text-align: center;
  float: left;
  width: 10%;
  height: auto;
  padding: 5px; }

.menu__box--icon {
  color: #E8AA3F; }

.information-text__contact {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-left: 10%; }

.order-now__button {
  border: none;
  width: 35%;
  padding: 5px 10px;
  border-top: 2px solid #E8AA3F;
  border-bottom: 2px solid #E8AA3F;
  background: #FFFFFF;
  font-size: 30px;
  color: #565759;
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 3%; }

.clearfix::after {
  clear: both;
  display: table;
  content: ""; }

.row {
  width: 100%;
  height: auto;
  min-height: 100px;
  border: 1px solid purple; }

.col {
  float: left; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media screen and (max-width: 600px) {
  .top-nav {
    display: none; }

  .top-nav__mobile {
    width: 100%;
    height: 60px;
    color: #A3CEF1;
    border-bottom: 4px solid #A3CEF1; }

  .fa-bars {
    float: right; }

  .drop-nav__mobile {
    background: #A3CEF1;
    width: 100%;
    height: 667px;
    text-align: center;
    font-size: 36px;
    padding-top: 20%; }
    .drop-nav__mobile li {
      margin: 0 15%;
      list-style: none;
      text-decoration: none;
      border-bottom: 3px solid #E8AA3F;
      text-align: center; }
      .drop-nav__mobile li a {
        color: #000000;
        text-decoration: none; }

  a:hover {
    color: #E8AA3F; }

  .logo {
    width: 70%;
    height: auto;
    margin: 8%;
    margin: auto;
    display: block; }

  .image-container {
    width: 100%;
    height: auto;
    margin-top: 10%;
    overflow: auto; }
    .image-container .image-container {
      width: 80%;
      height: auto;
      margin-top: 10%;
      overflow: auto; }

  .social-photos {
    width: 30%;
    height: auto;
    margin: 1%; }

  .title_menu h1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10%;
    color: #565759; }

  .blue-line {
    border-bottom: 2px solid #A3CEF1;
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 5%; }

  .nav__menu {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    padding-top: 2%;
    margin-bottom: 5%; }
    .nav__menu li {
      margin: 0 2%;
      list-style: none;
      text-align: center;
      display: inline; }
      .nav__menu li a:hover {
        color: #E8AA3F; }

  .nav__menu--link {
    color: #565759;
    text-decoration: none; }

  .box__empanadas--menu {
    width: 100%;
    height: auto;
    border: 1px solid blue; }

  .box__empanadas {
    width: 350px;
    height: auto;
    background: #FFFFFF;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    display: block; }

  .btn__box {
    width: 100%;
    height: 20px;
    margin-top: 30%; }

  .photo-empanadas {
    width: 80%;
    height: auto;
    display: block;
    margin: auto; }

  .info__type-price {
    text-align: center; }
    .info__type-price h2 {
      font-size: 20px;
      color: #565759;
      margin-top: 5px; }

  .info__type-price p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565759; }

  .ranking-number {
    width: 10%;
    height: auto;
    float: left;
    display: block;
    font-weight: 300; }

  .empanadas-description {
    font-weight: 300;
    font-size: 16px;
    margin: 4% 0; }

  .ranking {
    width: 90%;
    height: auto;
    float: left;
    text-align: right; }

  .request-text {
    width: 90%;
    height: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    border-bottom: 1px solid #000000; }

  .aye-photo__mobil {
    width: 80%;
    margin: auto;
    display: block; }

  .aye-photo__desktop {
    display: none; }

  .information-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 10%; }

  .map {
    width: 100%;
    height: auto;
    margin: 5%; }

  footer {
    width: 100%;
    height: auto;
    background: #565759; }
    footer p {
      color: #E7ECEF;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      padding: 3%; } }
@media screen and (min-width: 601px) and (max-width: 799px) {
  .menu-icon__menu {
    display: none; }

  .top-nav {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    background: #A3CEF1;
    padding: 20px; }
    .top-nav .top-list {
      width: 100%;
      height: 30%; }
      .top-nav .top-list .top-nav-list {
        width: 100%;
        height: auto;
        display: inline;
        margin: 0 2%;
        font-size: 20px;
        font-weight: bold; }
        .top-nav .top-list .top-nav-list .top-nav-link {
          color: #565759;
          list-style: none;
          text-decoration: none; }

  .fa-facebook-square {
    width: 52px;
    height: 42px;
    margin-left: 90%;
    margin-top: 247px;
    position: absolute;
    position: fixed; }

  .fa-instagram-square {
    width: 52px;
    height: 42px;
    margin-left: 90%;
    margin-top: 295px;
    position: absolute;
    position: fixed; }

  .logo__aye-empanadas {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    top: 8px;
    position: relative; }

  .logo {
    width: 400px;
    height: auto;
    margin: 1%;
    padding-top: 5%;
    margin: auto;
    display: block; }

  .image-container {
    width: 80%;
    height: auto;
    margin-top: 10%;
    overflow: auto;
    display: block;
    margin: auto; }

  .social-photos {
    width: 30%;
    height: auto;
    margin: 1%; }

  footer {
    width: 100%;
    height: auto;
    background: #565759; }
    footer p {
      color: #E7ECEF;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      padding: 3%; } }
@media screen and (min-width: 800px) {
  .menu-icon__menu {
    display: none; }

  .top-nav {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    background: #A3CEF1;
    padding: 20px; }
    .top-nav .top-list {
      width: 100%;
      height: 30%; }
      .top-nav .top-list .top-nav-list {
        width: 100%;
        height: auto;
        display: inline;
        margin: 0 2%;
        font-size: 20px;
        font-weight: bold; }
        .top-nav .top-list .top-nav-list .top-nav-link {
          color: #565759;
          list-style: none;
          text-decoration: none; }

  .fa-facebook-square {
    width: 52px;
    height: 30px;
    margin-left: 95%;
    margin-top: 250px;
    position: absolute;
    position: fixed; }

  .fa-instagram-square {
    width: 52px;
    height: 42px;
    margin-left: 95%;
    margin-top: 300px;
    position: absolute;
    position: fixed; }

  .logo__aye-empanadas {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    top: 8px;
    position: relative; }

  .logo {
    width: 40%;
    height: auto;
    margin: 1%;
    padding-top: 5%;
    margin: auto;
    display: block; }

  .image-container {
    width: 80%;
    height: auto;
    margin-top: 10%;
    overflow: auto;
    display: block;
    margin: auto; }

  .social-photos {
    width: 30%;
    height: auto;
    margin: 1%; }

  .title_menu h1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
    color: #565759; }

  .blue-line {
    border-bottom: 2px solid #A3CEF1;
    width: 50%;
    height: auto;
    margin: auto;
    display: block; }

  .nav__menu {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    padding-top: 2%;
    margin-bottom: 5%; }
    .nav__menu li {
      margin: 0 2%;
      list-style: none;
      text-align: center;
      display: inline; }
      .nav__menu li a:hover {
        color: #E8AA3F; }

  .nav__menu--link {
    color: #565759;
    text-decoration: none; }

  .box__empanadas--menu {
    width: 90%;
    height: auto;
    margin: auto; }

  .box__empanadas {
    height: auto;
    background: #FFFFFF;
    margin: 1%;
    padding: 5px;
    border-radius: 10px; }

  .btn__box {
    width: 100%;
    height: 20px;
    margin-top: 30%; }

  .photo-empanadas {
    width: 65%;
    height: auto;
    display: block;
    margin: auto; }

  .info__type-price {
    text-align: center; }
    .info__type-price h2 {
      font-size: 20px;
      color: #565759;
      margin-top: 5px; }

  .info__type-price p {
    font-size: 16px;
    color: #565759; }

  .ranking-number {
    width: 10%;
    height: auto;
    float: left;
    display: block;
    font-weight: 300; }

  .empanadas-description {
    font-weight: 300;
    font-size: 16px;
    margin: 4% 0; }

  .ranking {
    width: 90%;
    height: auto;
    float: left;
    text-align: right; }

  .request-text {
    width: 90%;
    height: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    border-bottom: 1px solid #000000; }

  .cart {
    width: 90%;
    margin: auto;
    display: block; }

  .box__cart--01 {
    width: 100%;
    height: auto;
    border: 1px solid red;
    text-align: left; }

  .box__cart--02 {
    width: 100%;
    height: auto;
    border: 1px solid blue; }

  .price {
    margin-left: 45%; }

  .aye-photo__mobil {
    display: none; }

  .aye-photo__desktop {
    display: none;
    width: 1110px;
    margin: auto;
    display: block; }

  .information-text {
    width: 60%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 2%;
    margin: auto;
    display: block; }

  .map {
    width: 100%;
    height: 500px; }

  footer {
    width: 100%;
    height: auto;
    background: #565759; }
    footer p {
      color: #E7ECEF;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      padding: 3%; }

  .col-lg-1 {
    width: 8.33%; }

  .col-lg-2 {
    width: 16.66%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 31.33%; }

  .col-lg-5 {
    width: 41.66%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33%; }

  .col-lg-8 {
    width: 66.66%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33%; }

  .col-lg-11 {
    width: 91.66%; }

  .col-lg-12 {
    width: 100%; } }
body {
  background: #E7ECEF; }

html {
  font-family: 'Poppins', sans-serif; }

/*# sourceMappingURL=style.css.map */
