@media screen and (max-width:600px){

.top-nav{
  display: none;
}

.top-nav__mobile{
  // border: 1px solid red;
  @include dimension(100%,60px);
  color: $color_light-blue;
  border-bottom: 4px solid $color_light-blue;
}

.fa-bars{
  float: right;
}

.drop-nav__mobile{
  background: $color_light-blue;
  width: 100%;
  height: 667px;
  text-align: center;
  font-size: 36px;
  padding-top: 20%;
  li{
    margin: 0 15%;
    list-style: none;
    border-bottom: 3px solid $color_yellow;
    text-align: center;
   }
 }



.logo{
  width: 70%;
  height: auto;
  margin: 8%;
  // border: 1px solid red;
  margin: auto;
  display: block;
}

.image-container {
  width: 100%;
  height: auto;
  // border: 1px solid blue;
  margin-top: 10%;
  overflow: auto;
}

.social-photos{
  width: 30%;
  height: auto;
  margin: 1%;
}


// ***********************************************MENU SECTION

.title_menu{
  border: 1px solid red;
  h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10%;
    color: $color_gray;
  }
}

.blue-line{
  border-bottom: 2px solid $color_light-blue;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 5%;
}

.nav__menu{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 18px;
  padding-top: 2%;
  li{
    margin: 0 2%;
    list-style: none;
    text-align: center;
    display: inline;
    a:hover{
      color: $color_yellow;
      }
   }
 }

 .nav__menu--link{
   color: $color_gray;
   text-decoration: none;
 }

 // *************************************************EMPANADAS

 .box__empanadas--menu{
   width: 100%;
   height: auto;
   border: 1px solid blue;
 }

 .box__empanada--chiken {
   width: 350px;
   height: auto;
   background: $color_white;
   border: 1px solid purple;
   margin: auto;
   border-radius: 10px;
   display: block;
   .box__empanada--top {
     width: 100%;
     height: auto;
     border: 1px solid red;

   }
 }

 .info__photo {
   width: 50%;
   height: auto;
   border: 1px solid green;
   float: left;

 }
 .info__type-price{
   width: 50%;
   height: 150px;
   border: 1px solid orange;
   float: left;
   text-align: center;
   h2{
     // text-align: center;
     font-size: 24px;
     color: $color_gray;
     font-weight: bold;
   }
 }

 .info__type-price{
   p {
     font-size: 16px;
     font-weight: normal;
     color: $color_gray;
   }
 }

.btn__box{
  width: 100%;
  height: 20px;
  margin-top: 30%;
  border: 1px solid pink;
}




//  *****************************************************ABOUT


} //end of mobile
