@media screen and (min-width: 601px) and (max-width: 799px){

  .menu-icon__menu{
    display: none;
  }

//--nav
  .top-nav{
    @include dimension(100%,auto);
    display: block;
    text-align: center;
    background: $color_light-blue;
    padding: 20px;
      .top-list{
      @include dimension(100%,30%);
         .top-nav-list {
        @include dimension(100%,auto);
        display: inline;
        margin: 0 2%;
        font-size: 20px;
        font-weight: bold;
        .top-nav-link{
          @include list(none,none,$color_gray)
        }
      }
    }
  }

  .fa-facebook-square{
    @include dimension(52px,auto);
    @include icons(90%,250px,fixed);
  }

  .fa-instagram-square{
    @include dimension(52px,auto);
    @include icons(90%,300px,fixed);
  }

  .logo__aye-empanadas{
    @include dimension(100%,auto);
    margin-bottom: 80px;
    top: 8px;
    position: relative;
  }

  .logo{
    @include dimension(40%,auto);
    padding-top: 5%;
    @include center (auto,block);
  }

  //************ social media

.image-container {
    @include dimension(80%,auto);
    @include center (auto,block);
    overflow: auto;
  }

    .social-photos{
      @include dimension(30%,auto);
      margin: 1%;
    }

  // ******************MENU SECTION

  .blue-line{
    @include dimension(50%,auto);
    border-bottom: 2px solid $color_light-blue;
    @include center (auto,block);
    margin-bottom: 3%;
  }

   // *******************EMPANADAS
   .box__empanadas--menu{
     @include dimension(100%,auto);
   }

   .box__empanadas {
     @include dimension(70%,auto);
     @include box($color_white,10px,10px);
     margin-bottom: 10px;
       margin-left: 15%;
   }

   .btn__box{
    @include dimension(100%,20px);
    margin-top: 30%;
   }

   .photo-empanadas{
     @include dimension(80%,auto);
     @include center (auto,block);
   }

   .info__type-price{
     text-align: center;
     h2{
       @include fonts (20px,medium,$color_gray, center);
       margin-top: 3px;
    }
   }

   .ranking-number{
    @include dimension(10%,auto);
    float: left;
    display: block;
    font-weight: 300;
   }


   .ranking{
    @include dimension(90%,auto);
    float: left;
    text-align: right;
   }

   .request-text{
    @include dimension(90%,auto);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    border-bottom: 1px solid $color_black;
   }

//------- My cart

.cart{
  @include dimension(80%,auto);
  @include center (auto,block);
}

 .box__cart--01{
   @include dimension(100%,auto);
   margin-top: 3%;
}

.box__cart--02{
  margin-top: 3%;
  padding-right: 5px;
}

.price{
  padding-left:150px;
}

.delet-cart{
  float: right;
}


//------------- thanks

.pop-up{
  @include dimension(100%,500px);
  background: $color_gray;
  padding-top: 20px;
}

.white-container {
  @include dimension(450px,400px);
  @include center (auto,block);
  background: $color_light-white;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
    .fa-check-circle{
    color: $color_light-blue;
    font-size: 60px;
    margin-top: 10%;
  }
}

#progressbar{
  width: 80%;
  @include center (auto,block);

}

.ui-progressbar {
  color: $color_light-blue;
    position: relative;
  }

.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}


  //  ********************************** about

  .aye-photo__mobil{
    display: none;
  }

  .aye-photo__desktop{
    @include dimension(500px,auto);
    @include center (auto,block);
  }

  .information-text{
    @include dimension(60%,auto);
    @include fonts (18px,normal,$color_black,center);
    padding: 2%;
    @include center (auto,block);
  }

  //**********************************contact us

.contact{
  @include dimension(80%,auto);
  @include center (auto,block);
  padding: 1%;
}

.contact-form{
  @include dimension(60%,auto);
  @include center (auto,block);
  padding: 8px;
  button{
    @include dimension(70px,25px);
    background: $color_yellow;
    color: white;
    border-radius: 10px;
    float: right;
  }
  }

form input, form textarea {
	border: none;
	display: block;
	width: 100%;
	text-indent: 10px;
  }
form textarea {
	height: 120px;
	padding-top: 1px;
}

.information-text__contact{
  padding-left: 1%;
}


  .map {
    @include dimension(100%,359px);
  }

  // ********************************* footer

  footer{
    @include dimension (100%,auto);
    background: $color_gray;
      p{
       @include fonts (18px,bold,$color_light-white,center);
      padding: 3%;
      }
  }

} //end of Tablet screen
