
.icon{
  font-size: 42px;
  color: $color_light-blue;
  margin: 0;
  text-align: center;
  float: left;
  width: 10%;
  height: auto;
  padding: 5px;
  margin: 5px;
}

.title_menu{
  h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
    color: $color_gray;
  }
}

.menu__box--icon {
   color: $color_yellow;
   }

.empanadas-description{
 font-weight: 300;
 font-size: 16px;
 margin: 4% 0;
}

.information-text__contact{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
margin-left: 10%;
}

.totalAmount{
  text-align: center;
}


//menu section
