
.icon{
  font-size: 42px;
  color: $color_light-blue;
  margin: 0;
  text-align: center;
  float: left;
  width: 10%;
  // height: 42px;
  height: auto;
  padding: 5px;
  // border: 1px solid purple;
}


.menu__box--icon {
   // font-size: 16px;
   color: $color_yellow;
   }



.information-text__contact{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
// border: 1px solid red;
margin-left: 10%;
}



//menu section
